<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <Format>opencover</Format>
                    <Exclude>
                        [KidsWallet.API.Tests.E2E]*,
                        [KidsWallet.API.Proxy.Tests.E2E]*,
                    </Exclude>
                    <ExcludeByFile>**/Migrations/*.cs,</ExcludeByFile>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>